* {
    font-family: sans-serif;
}

h1 {
    font-weight: normal;
}

#app {
    position: relative;
}

#login-dialog {
    position: absolute;
    border: 1px solid;
    width: 350px;
    height: 400px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

#login-title {
    position: relative;
    height: 100px;
    background-color: rgb(91, 200, 242);
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
    line-height: 90px;
    font-weight: 100;
    color: #fff;
    border-bottom: 6px solid rgb(63, 137, 165);
}

.input-holder {
    position:relative;
    height: 101px;
    border-bottom: 1px solid;
    box-sizing: border-box;
    padding-top: 15px;
}

input {
    padding: 20px;
    font-size: 20px;
    width: 350px;
    border: none;
    outline: none;
    font-weight: 100;
}

#signinBtn {
    position: relative;
    background-color: rgb(0, 128, 128);
    padding: 10px;
    color: #fff;
    text-decoration: none;
    width: 100px;
    display: inline-block;
    left: 20px;
}

.text-links {
    position: relative;
    top: 10px;
    left: 20px;
}

#signupBtn {
   font-size: 13px;
   color: rgb(45, 151, 255);
   text-decoration: none;
   border-bottom: 1px dashed;
   padding-bottom: 2px;
} 