* {
    font-family: sans-serif;
}

#list-container {
    position: absolute;
    width: 400px;
    height: 220px;
    border: 1px solid #ACACAC;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    overflow: auto;
}

.list-item {
    position: relative;
    background-color: rgb(233, 233, 233);
    height: 60px;
    margin: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.restaurant-name {
    position: absolute;
    font-size: 25px;
    font-weight: lighter;
    top: 10px;
    left: 20px;
}

.restaurant-type {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 38px;
    color: #00680F;
}

.restaurant-rating {
    position: absolute;
    font-size: 20px;
    font-weight: lighter;
    top: 18px;
    right: 10px;
    color: rgba(200, 0, 0, 1);
}