* {
    font-family: sans-serif;
}

#container {
    position: absolute;
    width: 204px;
    height: 120px;
    border: 1px solid #ACACAC;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

input {
    position: relative;
    padding: 13px;
    width: 165px;
    margin: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 25px;
}
